/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fdfdfd;

    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100vh;
    align-items: center;
}

header {
    padding: 10pt;
    flex: 0 50pt;
    background-color: #eeffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 50pt;
}
header > h1 {
    margin: 5pt;
    font-size: large;
}
menu > li {
    display: inline-block;
    padding: 0 5pt;
    list-style-type: none;
}
menu > li > a {
    color: #3355ff;
    text-decoration: none;
    padding: 5pt;
    transition: 0.25s;
}
menu > li > a:hover {
    border-bottom: 2pt solid #3355ff;
}


/* Style the main content */
main {
    padding: 20px;
    flex: 1;
    width: 100%;
    max-width: 700pt;
}
div.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div.welcome-screen > form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input[type=text], input[type=password], input[type=tel] {
    padding: 10pt;
    /* margin: 10pt; */
    border-radius: 3pt;
    border: 1pt solid #ddd;
    width: 200pt;
}
input[type="search"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 3pt;
    border: 1pt solid #ddd;
}
button {
    border: none;
    padding: 10pt;
    border-radius: 100pt;
    transition: 0.25s;
    /* width: 100pt; */
    margin-top: 10pt;
}
button:hover {
    background-color: #3355ff;
    color: white;
}


/* REGISTER */
form {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
form.fullwidth > ul {
    display: flex;
    flex-direction: column;
}
ul li {
    margin-bottom: 15px;
}
label {
    font-weight: bold;
    display: block;
    margin: 10pt 0;
}
textarea {
    padding: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
    font-family: Arial, Sans-serif;
    height: 300pt;
}
div#messagesDiv {
    display: flex;
    flex-direction: column;
    margin: 10pt;
}
p.messageUsername {
    font-size: 10pt;
    color: grey;
    padding: 0;
    margin: 0;
}
p.messageUsername.me {
    align-self: flex-end;
}
p.message {
    width: 40vw;
    padding: 10pt;
    background-color: #eee;
    margin: 10pt;
    border-radius: 5pt;
    margin: 0;
}
p.message.me {
    background-color: #3355ff;
    color: white;
    align-self: flex-end;
}

#logindialog {
    padding: 10pt;
    color: red;
}



h1 {
    font-size: 24px;
    margin-bottom: 10px;
}
select {
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 5pt;
}
ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

ul li {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    flex: 0 1 calc(33.33% - 20px);
}
ul li:hover {
    border: 1px solid #aaa;
}

ul li img {
    max-width: 100%;
    height: auto;
}

/* Style the footer */
footer {
    color: #3355ff;
    background-color: #eeffff;
    padding: 5pt;
    flex: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
footer > * {
    padding: 10pt;
}



/* Adjust styles for smaller screens if needed */
@media (max-width: 768px) {
    main ul li {
        flex: 0 1 calc(50% - 20px);
    }
}
@media (max-width: 468px) {
    main ul li {
        flex: 0 1 calc(100% - 20px);
    }
}







/*  */

/* Style the main content for the "Register Your Service" page */
/* main h1 {
    font-size: 24px;
    margin-bottom: 20px;
} */




/* button[type="submit"] {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */