ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

ul li {
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    flex: 0 1 calc(33.33% - 20px);
}
ul li:hover {
    border: 1px solid #aaa;
}

ul li img {
    max-width: 100%;
    height: auto;
}


